DISCORD_CLIENT_ID=1511668420859531376
DISCORD_CLIENT_SECRET=lg7n0R6zKvVl3Tm66immACep59DHiN0h
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1511669404247523420/YPkWwwvRxiZz2HLEADPy57FUzbPvS1EZE_ikfeB2nS9WOSmLBmEC0iufM23I20xrUNWH
REDIRECT_URI=REDIRECT_URI = https://oqtf-oauth-production.up.railway.app/callback
SHOP_URL=https://oqtf.sellauth.com
BAN_LIST=
PORT=3000
